<div class="container-fluid w-100 mb-3 bg-secondary text-white banner">
  <div class="d-flex overlay rounded">
    <h2 class="text-white">Save any kind of movies</h2>
  </div>
</div>

<div class="container py-5">
  <div class="d-flex align-items-center justify-content-between mb-3">
  <h2>My Lists</h2>
  <%= link_to "Create a movie list", new_list_path, class: "btn btn-cancel index-link" %>
  </div>
  <div class="row">
    <% @lists.each do |list| %>
      <div class="co-12 col-sm-6 col-md-4 mb-3">
        <%= link_to list_path(list), class:"text-decoration-none" do %>
          <div class="card-category" data-aos="zoom-in" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_path('movie_list_img.jpg') %>)">
            <%= list.name %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
